<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="KandyBaseUrl" value="https://api.kandy.io/v1.2/"/>
    <add key="ApplicationAPIKey" value="<apikey>"/>
    <add key="ApplicationSecretKey" value="<secretkey>"/>
    <add key="DomainAPIKey" value="<domainkey>"/>
    <add key="DomainSecretKey" value="<domainsecretkey>"/>
    <add key="DeviceId" value="<deviceId>"/>
    <add key="WeatherAPIKey" value="<apikey>"/>
    <add key="DestinationUser" value="user2@domain.com" />
  </appSettings>
  <system.net>
    <settings>
      <servicePointManager
          checkCertificateName="false"
          checkCertificateRevocationList="false"/>
    </settings>
  </system.net>
<startup>
  <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/>
</startup>
</configuration>
